.subject
{
    border: 2px solid #00B88A;
    border-top: 12px solid #00B88A;
    clear: both;
    width: 160px;
    height: 200px;
    margin: 0px 6px 20px 0px;
    padding-top: 10px;
    text-align: center;
}

div.subject:hover  
{
    cursor:pointer;
    background-color: #00B88A;
    transition: background-color 1000ms linear;
}

.name
{
    font-size: 2em;
    margin-bottom: 30px;
}

.views
{
    font-size: 1.6em;
}

.questions
{
    font-size: 1.6em;
}
