.subheader
{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #00B88A;
}

.questionsname
{
    float:left;
    width: 25%;
    height: 100%;
    font-size: 1.8em;
    padding-top: 10px;
    padding-left: 10px;
}

.sortmenu
{
    float:left;
    width: 50%;
    height: 100%;
    font-size: 1.8em;
}

.askquestion
{
    text-align: right;
    float:left;
    width: 23%;
    height: 100%;
    font-size: 1.8em;
}

.button-input2
{
    font-size: 18px;
    text-decoration: none;
    background: #00B88A;
    color: White;
    padding: 5px 15px;
    border-radius: 10px;
}

.button-input2:hover, .button-link2:focus {
    font-size: 18px;
    text-decoration: none;
    background: #008161;
    color: White;
    padding: 5px 15px;
    border-radius: 10px;
}

.questions
{
    float: left;
    width: 75%;
}

.question
{
    width: 100%;
    height: 120px;
    border-top: 2px solid #00B88A;
    margin-bottom: 10px;
}

.left
{
    float: left;
    width: 15%;
    height: 90%;
    margin-top: 5px;
    margin-left: 5px;
    background: #00B88A;
    color: White;
    font-size: 1.2em;
}

.right
{
    float: right;
    width: 80%;
    height: 100%;
}

.title 
{
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 5px;
    
}

div.title a { color: inherit; text-decoration: none;} 

div.title a:hover  
{
    cursor:pointer;
    text-decoration: underline;
}

.description
{
    width: 100%;
    margin-bottom: 5px;
}

.about 
{
    clear: both;
    margin-top: 20px;
    width: 100%;
}

.tags
{
    float:left;
}

.tag
{
    clear: both;
    display: inline;
    margin-right: 5px;
    overflow: hidden;
    padding: 2px 5px 2px 5px;;
    background: #00B88A;
    color: white;
    border-radius: 3px;
    font-size: 14px;
}

div.tag:hover 
{
    cursor:pointer;
    background: #58C6AB
}

.profile
{
    float:right;
    margin: 5px 2px 0px 0px;
}

div.profile a { color: inherit; text-decoration: none;} 

div.profile a:hover  
{
    cursor:pointer;
    text-decoration: underline;
}

.popularTags 
{
    float: right;
    width: 23%; 
    height: 600px;
    background: #F5D0A9;
}