.question-container 
{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.question-header 
{
    height: 30px;
}

.question-votes 
{
    float:left;
    width: 7%;
    height:120px;
    margin-right:10px;
}

.question-body
{ 
    width: 90%;
    float: left;
}