.question-container 
{
    width: 750px;
    margin: 0 auto;
}
.question-header 
{
    height: 30px;
    border-bottom: 2px solid #00B88A;
}

.question-votes 
{
    float:left;
    width: 7%;
    height:120px;
    margin-right:10px;
}

.question-body
{ 
    width: 90%;
    float: left;
}

.body-content 
{
    border-bottom: 1px solid black;
}

.body-content pre 
{
    background: #eee;
    font-size:12px;
}

.question-tags 
{
    padding-top: 10px;
    margin-bottom:10px;
}
.question-tags .tag
{
    clear: both;
    display: inline;
    overflow: hidden;
    height: auto;
    padding: 1px 3px;
    background: #00B88A;
    cursor: default;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
}

.question-tags .tag a 
{
    text-decoration: none;
    color: White;
}

.question-comments 
{
    margin-top:10px;
}

.button-comment 
{
    text-decoration: none;
    background: #888888;
    color: White;
    width: 100px;
    padding: 4px 10px;
}

.button-comment:hover 
{
    text-decoration: none;
    background: #555555;
    color: White;
    width: 100px;
    padding: 4px 10px;
}

.question-post-comment
{
    display: inline;
    float: left;
    width: 317px;
}

.question-comments-wrap 
{
    float:left;
    clear:both;
    width:100%;
    margin-top:10px;
}

.comment 
{
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}
.comment p 
{
    display:inline;
}

.answers-header 
{
    float:left;
    clear:both;
    width:100%;
    margin-top:20px;
    border-bottom: 2px solid #00B88A;
}

.answer-content 
{
    float:left;
    clear:both;
    width:100%;
    margin-bottom:30px;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.answer-votes 
{
    float:left;
    width: 7%;
    height:120px;
    margin-right:10px;
}

.answer-body
{ 
    width: 90%;
    float: left;
}

.answer-comments 
{
    margin-top:10px;
}

.answer-post-comment
{
    display: inline;
    float: left;
    width: 317px;
}

.answer-comments-wrap 
{
    float:left;
    clear:both;
    width:100%;
    margin-top:10px;
}

.votes 
{
    font-weight: bolder;
    font-size: 24px;
    text-align:center;
}

.question-votes, .answer-votes 
{
    margin-top:15px;
}